In [1]:
import pandas as pd

data = pd.read_csv('sample_submission.csv')
data

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [5]:
##ip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\ad\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [8]:
import pymysql
# Connect to the database
con = pymysql.connect(host='localhost',
                         user='root',
                         password='1234',
                         db='busan')
cursor=con.cursor()
# Create a new record
sql = "INSERT INTO `submission` (`ids`, `target`) VALUES (%s, %s)"
cursor.execute(sql, (100000,'0'))
# connection is not autocommit by default. So we must commit to save our changes.
con.commit()
# Execute query
sql = "SELECT * FROM `submission`"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

(1, 100000, '0', datetime.datetime(2021, 4, 23, 16, 34, 22))

In [10]:
##!pip install sqlalchemy

Collecting sqlalchemy

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\ad\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

  Downloading SQLAlchemy-1.4.11-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting greenlet!=0.4.17; python_version >= "3"
  Downloading greenlet-1.0.0-cp38-cp38-win_amd64.whl (95 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.0.0 sqlalchemy-1.4.11

In [14]:
data=pd.DataFrame({
    'book_id':[12345,12346,12347],
    'title':['Python Programming','Learn MySQL','Data Science Cookbook'],
    'price':[29,23,27]
})

In [15]:
data

   book_id                  title  price
0    12345     Python Programming     29
1    12346            Learn MySQL     23
2    12347  Data Science Cookbook     27

In [16]:
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import pandas as pd

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/busan?charset=utf8")
engine.connect()
data = pd.read_csv('sample_submission.csv')

data.to_sql(name='test', con=engine, if_exists = 'append', chunksize=10000)

In [17]:
data = pd.read_csv('austin_weather.csv')
engine = create_engine("mysql+mysqldb://root:"+"1234"+"@localhost/busan", encoding='utf-8')
engine.connect()
data.to_sql(name= 'austin_weather', con=engine , if_exists = 'append')